<link rel="stylesheet" href="/css/admin.css" />
<div class="admin__ui">
    <section id="admin__menu">
        <div class="logo">
            <h2 class="mt-3 mx-4">Admin</h2>
            <img src="https://lh3.googleusercontent.com/pw/AMWts8BXl3qx1_Jqn6XpAFnn9fFCy5g10ZFPdpeZATupUm_JCDW7kblnoZ5Y8pZx6rYPdkCGfQ52PSh1lH9gX8hZht-QAbPO6Vcjed1nQ9e6OAFtuCnCDrdC2mqHx4fkETmI4h0aHJQWBfnN-YzG8ITo4LUd=w893-h893-s-no?authuser=0"
                alt="">
        </div>
        <div class="item">
            <li><i class="fa-solid fa-chart-pie"></i><a href="#">FourWayCafé</a></li>
            <li><i class="fa-solid fa-users"></i><a href="#">Người dùng</a></li>
            <li><i class="fa-solid fa-chart-simple"></i><a href="#">Đơn hàng</a></li>
            <li><i class="fa-solid fa-blog"></i><a href="#">Bài viết</a></li>
            <li><i class="fa-solid fa-bookmark"></i><a href="#">Trang</a></li>
            <li><i class="fa-solid fa-compact-disc"></i><a href="#">Đa phương tiện</a></li>
            <li><i class="fa-solid fa-gear"></i><a href="#">Cài đặt</a></li>
            <li><i class="fa-solid fa-screwdriver-wrench"></i><a href="#">Công cụ</a></li>
        </div>
    </section>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="admin__menu-btn"></i>
                </div>
                <div class="lookfor">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Tìm kiếm">
                </div>
            </div>
            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <img src="https://lh3.googleusercontent.com/pw/AMWts8D6i2dDwtyJiOGMnfi4lXlErAmI_OrVzu1sXvbwk3vJcR56TlNBcaQbrS0LzORyTHisDYX3SyVN55ZTgH89VYIuzsto-k2J1vA8NDIhIKw0TCSHJ-EQ6ln2kXWfeXr6xVxwUDiWo6PI4tjwdbZ3XzO4=w820-h820-s-no?authuser=0"
                    alt="">
                <a href="/home"><i class="fa-solid fa-arrow-right mx-3"></i></a>
            </div>
        </div>
        <h3 class="i-name">
            Bảng điều khiển
        </h3>
        <div class="values">
            <div class="val-box">
                <i class="fa-solid fa-users"></i>
                <div>
                    <h3>{{accountAmount}}</h3>
                    <span>Tài khoản khách hàng</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-cart-shopping"></i>
                <div>
                    <h3>{{orderAmount}}</h3>
                    <span>Đơn hàng</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-dollar-sign"></i>
                <div>
                    <h3>{{incomeAmount}} $</h3>
                    <span>Doanh thu</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fa-solid fa-comments-dollar"></i>
                <div>
                    <h3>{{productAmount}}</h3>
                    <span>Sản phẩm</span>
                </div>
            </div>
        </div>

        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td><h5>Người dùng</h5></td>
                        <td><h5>Số điện thoại</h5></td>
                        <td><h5>Trạng thái</h5></td>
                        <td><h5>Vai trò</h5></td>
                        <td><h5></h5></td>
                    </tr>
                </thead>
                <tbody>
                    {{#each accounts}}
                    <tr>
                        <td class="people">
                            <img src="/img/userAvt.jpg" alt="people">
                            <div class="people-de">
                                <h5>{{this.lastname}} {{this.firstname}}</h5>
                                <p>{{this.email}}</p>
                            </div>
                        </td>
                        <td class="people-des">
                            <h5>{{this.phone}}</h5>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <h5>{{TitleCase this.role}}</h5>
                        </td>
                        <td class="edit"><a href="#">Sửa</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</div>