<div class="pay__page d-flex justify-content-center align-items-center">
    <div class="container m-5">
        <div class="row g-5 w-100">
            <div class="col-12 col-lg-8 pay__order">
                <h2 class="text-center m-3">THÔNG TIN<span style="color: var(--primary-1);"> ĐƠN HÀNG</span></h2>
                {{#each cartItems}}
                <div class="row pay__order-info no-gutters">
                    <div class="col-6 pay__order__image-left p-2">
                        <img src="{{getImage this.imageId}}" class="w-100" alt="">
                    </div>
                    <div
                        class="col-6 pay__order__content-right pl-2 d-flex justify-content-center align-items-left flex-column">
                        <h4 class="pay__order__content-title mb-2">{{this.name}} ({{this.quantity}})</h4>
                        <p class="pay__order__content-description">Đơn giá: {{this.price}}</p>
                        <p class="pay__order__content-description">Tổng tiền: {{this.totalCost}}</p>
                    </div>
                </div>
                {{/each}}
                <div class="row pay__order-check no-gutters">
                    <table>
                        <tr>
                            <td>Tổng sản phẩm:</td>
                            <td>{{cartQuantity}}</td>
                        </tr>
                        <tr>
                            <td>Tổng hóa đơn:</td>
                            <td>{{cartTotalCost}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 shipping__info">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mt-1">THÔNG TIN VẬN CHUYỂN</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-start">
                            Tên: {{shippingInfo.firstname}}
                        </p>

                        <p class="text-start">
                            Họ: {{shippingInfo.lastname}}
                        </p>

                        <p class="text-start">
                            Email: {{shippingInfo.email}}
                        </p>

                        <p class="text-start">
                            Số điện thoại: {{shippingInfo.phone}}
                        </p>

                        <p class="text-start">
                            Địa chỉ: {{shippingInfo.address}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="paypal-button-container"></div>

<script>
    paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: <?= $order -> total_price ?> // Can also reference a variable or function
                    }
                }]
            });
        },
        onError: function (err) {
            // For example, redirect to a specific error page
            console.log(err)
            debugger
        },
        // Finalize the transaction after payer approval
        onApprove: function (data, actions) {
            console.log("On approve.1", data, actions);
            debugger;
            return actions.order.capture().then(function (orderData) {
                console.log(".2", orderData);
                const $form = $('#checkout-form');
                const formData = $form.serializeArray();
                formData.push({
                    name: 'transactionId',
                    value: orderData.id
                });
                formData.push({
                    name: 'orderId',
                    value: data.orderID
                });
                formData.push({
                    name: 'status',
                    value: orderData.status
                });
                $.ajax({
                    method: 'post',
                    url: '<?= Url::to(['cart/ submit - payment', 'orderId' => $order->id]) ?>',
                    data: formData,
                    success: function (res) {
                        console.log(".3", res);
                        alert("Thanks for your order!");
                        window.location.href = '';
                    }
                })

            // Successful capture! For dev/demo purposes:
            console.log('Capture result .4', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            // alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
        });
        }
    }).render('#paypal-button-container');
</script>