<link rel="stylesheet" href="/css/menu.css" />
<div class="menu_container">
  <h1 class="menu_title pt-5 text-center">Danh mục sản phẩm</h1>
  <div class="menu_body">
    <div class="row">
      {{#each products}}
        <div class="menu_item col-sm-12 col-md-6 col-lg-4">
          <div class="card mt-5">
            <a href="/products/{{this.slug}}">
              <img
                src="{{getImage this.imageId}}"
                class="card-img-top"
                alt="{{this.name}}"
              />
            </a>
            <div class="card-body">
              <h5 class="item_title" href="/products/{{this.slug}}">
                {{this.name}}</h5>
              <p class="card-text d-none">{{this.description}}</p>
              <p class="item_price">
                {{this.price}}
                đ
              </p>
              <div class="row">
                <a href="/cart/add/{{this.slug}}" class="addToCartBTn">Mua hàng</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

</div>
<script>
  $(document).ready(function () { const $addToCartBtn = $('.addToCardBtn');
  $addToCartBtn.click(function (e) { e.preventDefault(); const $clickedBtn =
  $(e.target).closest('a'); const url = $clickedBtn.attr('href');
  console.log(url); }) })

</script>