<h1 class="pt-5 text-center">MENU</h1>
<div class="menu_body mt-4">
  <div class="row">
    {{#each products}}
      <div class="col-sm-6 col-lg-3">
        <div class="card mt-5">
          <a href="/products/{{this.slug}}">
            <img
              src="{{getImage this.imageId}}"
              class="card-img-top"
              alt="..."
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">
              {{this.name}}</h5>
            <p class="card-text d-none">{{this.description}}</p>
            <div class="row">
              <div class="col">
                {{this.price}}
                đ
              </div>
              <div class="col">
                <a
                  href="/cart/add/{{this.slug}}"
                  class="btn btn-primary addToCardBtn"
                >Thêm vào giỏ hàng</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script>
  $(document).ready(function () { const $addToCartBtn = $('.addToCardBtn');
  $addToCartBtn.click(function (e) { e.preventDefault(); const $clickedBtn =
  $(e.target).closest('a'); const url = $clickedBtn.attr('href');
  console.log(url); }) })

</script>