<h1>MENU</h1>
<div class="mt-4">
    <div class="row">
        {{#each products}}
        <div class="col-sm-6 col-lg-4">
            <div class="card mt-2">
                <a href="/products/{{this.slug}}">
                    <img src="{{getImage this.imageId}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        {{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <div class="row">
                        <div class="col">
                            {{this.price}} đ
                        </div>
                        <div class="col">
                            <a href="/cart/add/{{this.slug}}" data-slug="{{this.slug}}" class="btn btn-primary addToCardBtn">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script>
    $(document).ready(function () {
        const $addToCartBtn = $('.addToCardBtn');
        $addToCartBtn.click(function (e) {
            e.preventDefault();
            const $clickedBtn = $(e.target).closest('a');
            const url = $clickedBtn.attr('href');
            const data = {
                slug: $clickedBtn.data('slug')
            };
            fetch(url, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log('console:', data))
                .catch(error => console.error(error));

        })
    })

</script>